{% extends 'base.html' %}

{% block title %}
	My Receipts
{% endblock title %}

{% block content %}
<main>
  <div>
    <h1>Expense Category</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
      </thead>

      <tbody>
        {% for key, value in categories.items %}
        <tr>
          <td>
            {{ key }}
          </td>
          <td>
            {{ value }}
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</main>
{% endblock content %}